@import "../../styles/main.scss";

.add-to-cart {
    border: none;
    padding: 10px;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: green;
    color: $color_white;
}
.add-to-cart:hover {
    cursor: pointer;
}