@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto+Mono:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #D3D3D3;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto Mono', monospace;
}